* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Basic Reset
 */
 
 h1,h2,h3,h4,h5,p,a {
  margin: 0;
  padding: 0
}

img { max-width: 100% }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #333;
    font-size: 1em;
    line-height: 1.8;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

/**
 * #wrapper
 * Use [id="wrapper"] so CSS specificity doesn't get FUBAR
 */

 [id="wrapper"] {
  width: 95%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}
  /* Clearfix for #wrapper */

  [id="wrapper:before"], [id="wrapper:after"] {
    content: " ";
    display: table;
  }

/* Link Styles */

a,a:hover,a:visited {
  text-decoration: none;
  color: firebrick;
  font-weight: 600;
  text-decoration: underline;
}


/*
-------------------------------------
.primary-header
-------------------------------------
*/

.primary-header {
  /* need to see how this renders */
}

  .primary-site-header {
    /* check and see how this renders */
    text-transform: capitalize;

  }

/*
-------------------------------------
.app-content
-------------------------------------
*/

/* #articles */

[id="articles"] {
  max-width: 75%;
  background:#fff;
  margin-right: 5%;
}

/** 
 * #notes
 * @todo update styles once js is working
 */

#notes {
  min-height: 500px;
  background: #FFF;
  float: left;
  width: 20%;
}


.title{
  padding: 0.375em 0;
  border-bottom: thin solid #616161;
  font-size: 1.5rem;
  color: #f44336;
  font-weight: 600;
  background: #607d8b;  

}
.summary {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  color: #616161;

}




  






.titleinput {
  background: PURPLE;
  width: 100%;
  height: 20px;
}
textarea, input 
{
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input 
{
  height: 36px;
  font-size: 24px;
}
textarea 
{
  height: 200px;
  font-size: 18px;
}